name: Remove Closed PR Contents

on:
  pull_request_target:
    types: closed

permissions:
  contents: write

jobs:
  remove-pr:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Pages Branch
      uses: actions/checkout@v4
      with:
        ref: 'gh-pages'
    
    - name: Remove directory
      env:
        GITHUB_TOKEN: ${{ secrets.ZOWE_ROBOT_TOKEN }}
      run: | 
        rm -rf docs/pr-${{ github.event.number }}
        git config --global user.name ${{ secrets.ZOWE_ROBOT_USER }}
        git config --global user.email ${{ secrets.ZOWE_ROBOT_EMAIL }}
        git rm -r docs/pr-${{ github.event.number }}
        git commit -sm "Remove Zowe Web Help for PR ${{ github.event.number }}"
        git push origin HEAD
        gh workflow run -r gh-pages deploy-pages.yml